<!DOCTYPE html>
<html>

<head>
  <title>Socket.IO chat</title>
</head>

<body>
  <ul id="users">
    all users
  </ul>

  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">
    let socket = io();

    let form = document.getElementById('form');
    let input = document.getElementById('input');

    const getUsers = async () => {
      const result = await fetch('http://localhost:7000/api/users', {
        method: "get",
        headers: { 'Content-type': 'application/json; charset=UTF-8' }
      })
      const data = await result.json()
      return data
    }

    addEventListener('load', async () => {
      const data = await getUsers()
      console.log(data);
    })



    input.addEventListener('input', () => {
      socket.emit('writing message', input.value);
    })

    form.addEventListener('submit', function (e) {
      e.preventDefault();
      if (input.value) {
        socket.emit('send message', input.value);
        input.value = '';
      }
    });
  </script>
</body>

</html>